<section class="masthead">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-8 col-lg-4 prefix-md-2 suffix-md-2 prefix-lg-4 suffix-lg-4">
        <h1 class="text-center">Sign Up</h1>
        <br>
        <div class="login-form">
          <%= link_to "Use your Facebook Account", user_facebook_omniauth_authorize_path, :class => 'btn btn--fill btn--facebook' %>
          <span class="text-divider">OR</span>
          <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>

            <%= devise_error_messages! %>

            <%= f.label :email %>
            <%= f.email_field :email, autofocus: true %>

            <%= f.label :password %>
            <% if @minimum_password_length %>
            <em class="small">(<%= @minimum_password_length %> characters minimum)</em>
            <% end %>
            <%= f.password_field :password, autocomplete: "off" %>

            <%= f.label :password_confirmation %>
            <%= f.password_field :password_confirmation, autocomplete: "off" %>
            
            <%= f.submit "Sign up", :class => 'btn btn--fill btn--primary' %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</section>