<div class="img-with-text row middle">
      <%= image_tag("comments.png", :class => "img-with-text__img") %>
      <h2 class="img-with-text__text">Comments</h2>
    </div>
    <div class="comment-count">
      <span class="comment-count__number"><%= @course.comments.count %></span>
      <span class="comment-count__label"><%= (@course.comments.count == 1 ? "Comment" : "Comments") %></span>
    </div>
    <div class="row">
      <% count = 0 %>
      <% @course.comments.each do |comment| %>
        <% if defined?(num) && count >= num %>
          <div class="card col-6 hidden-comment">
        <% else %>
          <div class="card col-6">
        <% end %>
          <strong>Commenter:</strong>
          <%= comment.user_id %>

          <p>
            <%= comment.body %>
          </p>
          <td><% if current_user.id == comment.user_id %>
            <%= link_to 'Edit', edit_course_comment_path(@course, comment) %></td>
          <% end %>
        </div>
        <% count = count + 1%>
      <% end %>
    </div>
    <% if defined?(num) && @course.comments.count > num %>
      <div class="row center">
        <button class="btn btn--large btn--link" id="showAllComments">Show all</button>
      </div>
    <% end %>
