<% if defined?(@comment) && @comment.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@comment.errors.count, "error") %> prohibited
        this course from being saved:
      </h2>
      <ul>
        <% @comment.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="row center comment-entry-container">
    <button class="btn btn--large btn--primary" id="addComment">Add Comment</button>
    <%= form_for([@course, @course.comments.build], html: {class: "col-8 comment-entry"}) do |f| %>
        <%= f.text_area(:body, :class => 'text-input text-input--fill comment-entry__body') %>
        <%= f.submit("Submit Comment", :class => 'btn btn--large btn--primary comment-entry__submit') %>
    <% end %>
  </div>
