<div class="card col-6">
<strong>Commenter:</strong>
<%= @comment.user_id %>

<p>
  <%= @comment.body %>
</p>
<% if current_user.id == @comment.user_id %>
  <td><%= link_to 'Edit', edit_course_comment_path(@course, @comment) %></td>
<% end %>
<% if @comment.parent.present? %>
  <td>Parent = <%= @comment.parent_id %>
<% end %>
<% if @comment.has_children? %>
  <td>Children = <%= @comment.child_ids %></td>
<% end %>
</div>

<% @comment.children.each do |comment| %>
  <div class="card col-6">
    <strong>Commenter:</strong>
    <%= comment.user_id %>

    <p>
      <%= comment.body %>
    </p>
    <% if current_user.id == comment.user_id %>
      <td><%= link_to 'Edit', edit_course_comment_path(@course, comment) %></td>
    <% end %>
  </div>
  <% end %>

  <div class="row center comment-entry-container">
    <button class="btn btn--large btn--primary" id="addComment">Reply</button>
    <%= form_for([@course, @comment.children.create], html: {class: "col-8 comment-entry"}) do |f| %>
        <%= f.text_area(:body, :class => 'text-input text-input--fill comment-entry__body') %>
        <%= f.submit("Submit Comment", :class => 'btn btn--large btn--primary comment-entry__submit') %>
    <% end %>
  </div>
