<%= form_for [@course, @rating] do |f| %>
 
  <p>
    <%= f.label :course_id %><br>
    <%= f.text_field :course_id, :value=>@course.id, :readonly=>true %>
  </p>
   <p>
    <%= f.label :user_id %><br>
    <%= f.text_field :user_id, :value=>current_user.id, :readonly=>true%>
  </p>

  <p>
    <%= f.label :value %><br>
    <%= f.text_field :value %>
  </p>
 
  <p>
    <%= f.label :created_at %><br>
    <%= f.text_field :created_at, :value => @rating.created_at, :readonly=>true%>
  </p> 

  <p>
    <%= f.label :updated_at %><br>
    <%= f.text_field :updated_at, :value => @rating.updated_at, :readonly=>true %>
  </p> 
 
  <p>
    <%= f.submit %>
  </p>
 
<% end %>