<%= form_for [@course, @rating] do |f| %>
    <p>
      <%= f.label :rating_type %><br>
      <%= f.text_field :rating_type, :value=>Rating::RATING_TYPES[type], :readonly=>true%>
    </p>
    <p>
      <%= f.label :value %><br>
      <%= f.select(:value, [1, 2, 3, 4, 5]) %>
    </p>

    <p>
      <%= f.label :created_at %><br>
      <%= f.text_field :created_at, :value => @rating.created_at, :readonly=>true%>
    </p>

    <p>
      <%= f.label :updated_at %><br>
      <%= f.text_field :updated_at, :value => @rating.updated_at, :readonly=>true %>
    </p>
  <p>
    <%= f.submit %>
  </p>

<% end %>
