<% provide(:title, "Login") %>
<section class="masthead pattern-back">
  <div class="container">
    <div class="row center">
      <div class="col-10 col-md-8 col-lg-4">
        <h1 class="text-center">Login</h1>
        <br>
        <div class="login-form">
        <%= link_to "Login with Facebook", user_facebook_omniauth_authorize_path, :class => 'btn btn--fill btn--facebook' %>
        <span class="text-divider">OR</span>
        <%= form_for(:user, :url => session_path(:user)) do |f| %>
          <%= f.label :email, :class => 'login-form__label' %>
          <%= f.email_field :email, autofocus: true, :class => 'login-form__input' %>
          <%= f.label :password, :class => 'login-form__label' %>
          <%= f.password_field :password, autocomplete: "off", :class => 'login-form__input' %>
            <%= link_to "Forgot your password?", new_password_path(:user), :class => 'login-form__link' %>
          <%= f.submit "Login", :class => ['btn','btn--fill', 'btn--primary'] %>
        <% end %>
      </div>
    </div>
  </div>
</section>