<p>
  <strong>Code:</strong>
  <%= @course.code %>
</p>
 
<p>
  <strong>Title:</strong>
  <%= @course.title %>
</p>
<p>
  <strong>Description:</strong>
  <%= @course.description %>
</p>

<h2> Comments (<%= @course.comments.count() %>)</h2>
<%= render :template => 'comments/index' , :locals => {:num => 5} %>
<%= link_to 'Show all', course_comments_path(@course) %>

<h2>Ratings (<%= @course.ratings.count() %>)</h2>
<h3>Overall</h3>
  <p>
    <%= @course.ratings.overall.average(:value) %>
  </p>
<h3>Usefulness</h3>
  <p>
    <%= @course.ratings.usefulness.average(:value) %>
  </p>
<h3>Difficulty</h3>
  <p>
    <%= @course.ratings.difficulty.average(:value) %>
  </p>
  <h3>Course Load</h3>
  <p>
    <%= @course.ratings.courseload.average(:value) %>
  </p>



<h2> Rate course:</h2>
<%= render :template => 'ratings/new' %>

<h2> Add a comment:</h2>
<%= render :template => 'comments/new' %>


<td><!--%= link_to 'Edit', edit_course_path(@course) %--></td>
<%= link_to 'Back', courses_path %>