<header class="navigation-bar navigation-bar--main site-header">
	<div class="container">
		<% if user_signed_in? %>
			<%= link_to(:root, class:"navigation-bar__logo") do %>
				<%= image_tag "logo.png" %>
			<% end %>
		<% else %>
			<%= link_to(:root, class:"navigation-bar__logo") do %>
				<%= image_tag "logo.png" %>
			<% end %>
		<% end -%>
		<nav class="navigation-bar__nav navigation-bar__nav--main">
			<ul class="inline-list">
				<li class="inline-list__item"><a href="">Explore</a></li>
				<% if user_signed_in? %>
					<!-- Put user profile icon with dropdown here -->
				<% else %>
				<li class="inline-list__item"><%= link_to "Sign up", new_user_registration_path %></li>
				<% end -%>
			</ul>
		</nav>
	</div>
</header>